@use '../util/' as u;
.header {
margin-top: u.rem(36);

    @include u.breakpoint(medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__toggle {

    }

    &__title {

    }

    &__subtitle {
        font-size: u.rem(14);
        font-weight: 700;
        color: var(--dark-text1);
    }
}   