@use '../util' as u;

.toggle {
    // margin: 0;
    // padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    gap: u.rem(12);

    label {
        &[for="dark"]{
            grid-column: 1 / 2;
            justify-self: end;
        }
        &[for="system"]{
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            justify-self: center;
        }
        &[for="light"]{
            grid-column: 3 / 4;
        }
    }

    &__wrapper { 
        position: relative;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: u.rem(24);
        // overflow: hidden;
    }

    input[type="radio"] {
        opacity: 0;
        margin: 0;
    }

    &__background {
        display: block;
        height: 100%;
        border-radius: u.rem(12);
        background: linear-gradient(225deg, var(--toggleBg-end) 0%, var(--toggleBg-start)98.02%);
        position: absolute;
        width: 100%;
        top: 0;
    }

    &__button {
        position: absolute;
        left: u.rem(3);
        right: 100%;
        top: u.rem(3);
        width: u.rem(18);
        height: u.rem(18);
        border-radius: 50%;
        background-color: var(--dark-bg);
    }

    #light:checked ~ .toggle__button {
        left: calc(100% - 21px);
        right: 3px;
    }

}